/* styles.css */

div {
    color: black;
    background-color: black;
}

p {
    color: red;
}

li {
    background-color: rgba(20, 172, 222, 0.498);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.container {
    background-color: bisque;
    padding: 12px;
    border: 4x dashed red;
    display: flex;
}

.steps {
    background-color: orange;
    padding: 12px;
    border: 10px dashed red;
    display: flex;
    flex-direction: column;
}

.ingredients {
    background-color: blanchedalmond;
    padding: 12px;
    border: 4x dashed yellow;
    display: flex;
    flex-direction: column;
}